.author-detail
  %h3= @author.full_name
  = render :partial => 'tabs', :locals => { :author => @author, :active => 'Bibliography' }
  
  - if @books.present?
    %ul.amazon-books.nav-list
      = render(:partial => "shared/amazon_book", :collection => @books)
  - else
    .content
      %h4 No bibliography
      %p Sorry, no books were found for #{@author.full_name}.