.author-detail
  %h3= @author.full_name
  = render :partial => 'tabs', :locals => { :author => @author, :active => 'Bibliography' }
  
  %ul.books.nav-list
    = render(:partial => "shared/amazon_book", :collection => @books)