%ul
  %li
    = link_to "Home / Events", :controller => "home"
  %li
    = link_to "Authors", :controller => "authors"
  %li
    = link_to "Books", :controller => "books"
  %li
    = link_to "Calendar", calendar_path