%h3=@start_date.strftime('%B %Y')
#calendar
  != calendar(:year => @start_date.year, :month => @start_date.month, :month_header => false, :abbrev => (0..1)) do |day|
    - render_calendar_cell(day, @start_date, @end_date)