%hgroup
  .main-title
    %h3
      Edinburgh International Book Festival

.content
  .description
    %h4
      We’ll be launching our 2012 programme at noon on Thursday 21 June.
    %p
      Join us then, when you’ll be able to browse the full line-up of events, 
      and find out what’s in store.
    %p
      In the meantime you can read commissioned writing, listen to recordings of 
      past events and find out more about the Book Festival
      %a.desktop-site{:href => "http://www.edbookfest.co.uk", :"data-remote" => "", :"data-analytics-action" => "Desktop site"} 
        on our main website.