%h3
  = @date.to_s :title

.tabs-container
  - if (@adult_events.any?) then  
    %section.tab-content
      %h4.tab-title Adult
      %ul.nav-list.events.adult
        = render(:partial => "event", :collection => @adult_events)

  - if (@child_events.any?) then
    %section.tab-content
      %h4.tab-title Children
      %ul.nav-list.events.children
        = render(:partial => "event", :collection => @child_events)