%h3 
  On now at the Festival

.content.padding.grey
  = link_to "All events today", listings_path(:date => @date), :class => "button"
  = link_to "Calendar", calendar_path, :class => 'button'
  

- if (@on_now.any?) then
  %ul.nav-list.events.on-now
    = render(:partial => "event", :collection => @on_now)

