body.authors {  
  .main-title h4 {
    color: $nearlyWhiteText;
  }
  
  #main {
    a {
      color: $baseColorAuthors;
    }
    
    .nav-list a {
      color: #000;
    }
    
    a.button {
      color: #fff;
      @include simpleGradient($baseColorAuthors, lighten($baseColorAuthors, 10%), darken($baseColorAuthors, 7%));
      
      &:active, &:hover {
        @include simpleGradient(darken($baseColorAuthors, 5%), lighten($baseColorAuthors, 5%), darken($baseColorAuthors, 12%));
      }
    }
    
    .tabs {
      a {
        color: $lightText;
        text-decoration: none;
      }
      .active a {
        color: $baseColorAuthors;
      }
    }
  }
  
  #container {
    header {
      background-color: $baseColorAuthors;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -20px 50%;
    }
  }
}