body.authors {
  a:link { -webkit-tap-highlight-color:$baseColorAuthors; }
  
  a {
    color: $baseColorAuthors;
  }
  
  #container {
    header {
      background-color: $baseColorAuthors;
    }
  }
  
  footer {
    border-top-color: $baseColorAuthors;
    
    .back-to-top {
      background-position: $padding -340px;
    }
  }
}