body.authors {
  h4, .tabs li.active {
    color: $baseColorAuthors;
  }
  
  .main-title h4 {
    color: $nearlyWhiteText;
  }
  
  #main {
    a {
      color: $baseColorAuthors;
    }
  }
  
  #container {
    header {
      background-color: $baseColorAuthors;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -20px 50%;
    }
  }
}