body.books {
  h4, .tabs li.active {
    color: $baseColorBooks;
  }
  
  .main-title h4 {
    color: $nearlyWhiteText;
  }
  
  .book-detail h4.authors {
    color: $lightText;
  }
  
  #main {
    a {
      color: $baseColorBooks;
    }
    
    a.button {
      color: #fff;
      @include simpleGradient($baseColorBooks, lighten($baseColorBooks, 10%), darken($baseColorBooks, 7%));
      
      &:active, &:hover {
        @include simpleGradient(darken($baseColorBooks, 5%), lighten($baseColorBooks, 5%), darken($baseColorBooks, 12%));
      }
    }
  }
  
  #container {
    header {
      background-color: $baseColorBooks;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -30px 50%;
    }
  }
}