.book-detail {
  img {
    float: right;
    margin: 0 0 $padding $padding;
    @include boxShadow(0, 2px, 4px, rgba(0,0,0,.5));
    width: 90px;
  }
  
  h4.authors {
    @include font(16);
    font-weight: normal;
    margin-top: $vPadding;
  }
  
  .availability {
    display: inline-block;
    @include borderRadius(5px);
    padding: $vPadding $padding;
  }
  
  .available, .limited {
    background-color: $authorsTint;
    color: darken($baseColorAuthors, 4%);
    
    strong {
      color: darken($baseColorAuthors, 8%);
    }
  }
  
  .none {
    background-color: $nearlyWhiteBackground;
    color: $lightText;
    
    strong {
      color: $charcoal;
    }
  }
}

.amazon-review {
  p {
    margin: 1em 0;
  }
  
  i {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
  }
  
  blockquote {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    margin-left: 1.3em;
    color: $lightText;
  }
}

.book-info {
  margin-top: $padding;
  @include font(12);
  color: $lightText;
  
  .publisher {
    @include font(14);
    font-weight: bold;
  }
}