body.books {
  #main {
    a {
      color: $baseColorBooks;
    }
  }
  
  #container {
    header {
      background-color: $baseColorBooks;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -30px 50%;
    }
  }
}