// Standard list items with links

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $divider;
  
  li {
    @include simpleGradient(#fff, #fff, #f0f0f0);
    border-bottom: 1px solid $divider;
  }
  
  a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: $padding $padding+20px $padding $padding;
  }
  
  .arrow {
    display: block;
    position: absolute;
    top: 0;
    right: $padding;
    width: 10px;
    height: 100%;
    background-image: url(#{$baseImagePath}right-arrows.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  
}

// Tab set

.tabs {
  
  list-style: none;
  margin: 0;
  padding: $vPadding $padding 0;
  background-color: #e0e0e0;
    
  li {
    @include font(11);
    @include borderRadius(4px 4px 0 0);
    @include simpleGradient($veryLightBackground, #fff, $veryLightBackground);
    position: relative;
    top: 1px;
    display: inline-block;
    border: 1px solid $divider;
    margin-right: 2px;
    
    &.active {
      background-color: #fff;
      border-bottom: 1px solid #fff;
      background-image: none;
    }
  }
  
  a {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: $vPadding $padding;
  }
  
}

// Buttons

.button {
  @include font(12);
  @include borderRadius(5px);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: $baseColor;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}