body.events {
  a:link { -webkit-tap-highlight-color:$baseColorEvents; }
  
  a {
    color: $baseColorEvents;
  }
  
  #container {
    header {
      background-color: $baseColorEvents;
    }
  }
  
  footer {
    border-top-color: $baseColorEvents;
    
    .back-to-top {
      background-position: $padding -290px;
    }
  }
}