ul.books {
  
  a {
    height: 59px;
    overflow: hidden;
  }
  
  
  .title {
    margin-left: 40px+$padding;
    font-weight: normal;
    position: relative;
    top: 20px;
  }
  
  .no-image {
    a {
      height: auto;
    }
    
    .title {
      margin-left: 0;
      top: 0;
    }
  }
  
  img {
    display: block;
    position: absolute;
    left: $padding;
    top: $vPadding;
    width: 40px;
    border: 1px solid $divider;
  }
  
  .stock {
    @include font(10);
    @include rotate(-45);
    
    position: absolute;
    padding: 1px 20px;
    text-align: center;
    top: .9em;
    left: -2.1em;
    z-index: 1;
    color: #fff;
    background: $baseColorBooks;
    font-weight: bold;
  }
}