body.events {
  .tabs li.active,
  .sold-out {
    color: $baseColorEvents;
  }
  
  .main-title h4 {
    color: $nearlyWhiteText;
  }
  
  #main {
    a {
      color: $baseColorEvents;
    }
    
    a.button {
      color: #fff;
      @include simpleGradient($baseColorEvents, lighten($baseColorEvents, 10%), darken($baseColorEvents, 7%));
      
      &:active, &:hover {
        @include simpleGradient(darken($baseColorEvents, 5%), lighten($baseColorEvents, 5%), darken($baseColorEvents, 12%));
      }
    }
    
    .nav-list a {
      color: #000;
    }
  }

  #container {
    header {
      background-color: $baseColorEvents;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -10px 50%;
    }
  }
}