.event-detail {
  .details {
    @include font(14);
    margin-bottom: $vPadding;
    
    time {
      font-weight: bold;
      display: block;
    }
  }
  
  img.event {
    background: #f0f0f0 url(#{$baseImagePath}loading-bg.png) 50% 50% no-repeat;
    display: block;
    width: 100%;
    max-width: 369px;
    height: 283px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .buy-tickets {
    margin-right: $padding/2;
    margin-bottom: $vPadding;
  }
  
  span.price {
    @include font(16);
    display: inline-block;
    vertical-align: baseline;
  }
  
  .description {
    margin-bottom: $padding;
  }
}

ul.books {
  
  a {
    height: 59px;
    overflow: hidden;
  }
  
  
  .title {
    margin-left: 40px+$padding;
    font-weight: normal;
    position: relative;
    top: 20px;
  }
  
  .no-image {
    a {
      height: auto;
    }
    
    .title {
      margin-left: 0;
      top: 0;
    }
  }
  
  img {
    display: block;
    position: absolute;
    left: $padding;
    top: $vPadding;
    width: 40px;
    border: 1px solid $divider;
  }
}