body.events {
  h4, 
  .tabs li.active,
  ul.events .sold-out {
    color: $baseColorEvents;
  }
  
  .main-title h4 {
    color: $nearlyWhiteText;
  }
  
  #main {
    a {
      color: $baseColorEvents;
    }
  }

  #container {
    header {
      background-color: $baseColorEvents;
    }
  }
  
  .nav-list {
    .arrow {
      color: $baseColor;
      background-position: -10px 50%;
    }
  }
}