$baseColor: #c51f37; 

.home {
  a {
    color: $baseColor;
  }
  
  #container {
    header {
      background-color: $baseColor;
    }
  }
  
  footer {
    border-top-color: $baseColor;
    
    .back-to-top {
      background-position: 10px -280px;
    }
  }
}