html {
  font: 62.5%/1.4 Helvetica, "Helvetica Neue", Arial, sans-serif;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  text-align: center;
  
  header {
    margin: 0 auto;
    padding: $vPadding $padding;
    position: relative;
    height: $headerHeight;
    background-color: $baseColor;

    h1 {
      position: absolute;
      top: $vPadding;
      right: $padding;
      width: 77px;
      height: 46px;
      
      a {
        @include ir("logo-77x46.png", 77, 46);
      }
    }

    h2 {
      @include font(14);
      font-weight: normal;
      line-height: $headerHeight;
      color: #fff;
    }
    
    .button {
      @include font(12);
      @include borderRadius(7px);
      @include boxShadowInset(1px, 1px, 2px, rgba(0,0,0,.2));
      text-transform: uppercase;
      font-weight: normal;
      text-decoration: none;
      color: #fff;
      background-color: rgba(0,0,0,0.1);
      border: 1px solid rgba(255,255,255,0.15);
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      
      &:hover, &:active {
        background-color: rgba(0,0,0,0.2);
      }
    }
    
    .back {
      background-image: url(#{$baseImagePath}header-footer-arrows.png);
      background-position: 10px -50px;
      background-repeat: no-repeat;
      position: absolute;
      top: 13px;
      left: 10px;
      padding-left: 26px;
    }
  }
}

#main {
  @include font(14);
  padding: 0 0 $footerHeight+20px 0;
  text-align: left;
}

footer {
  border-top: 1px solid #999;
  @include font(12);
  @include verticalGradient($nearlyWhiteBackground, rgba(0,0,0,.2), 0, rgba(0,0,0,0), 6px);
  position: relative;
  top: -$footerHeight;
  color: $lightText;
  min-height: 58px;
  
  a {
    color: $mediumText;
    text-decoration: underline;
  }
  
  .back-to-top {
    display: inline-block;
    padding: $padding $padding 6px $padding + 14px;
    background: transparent url(#{$baseImagePath}header-footer-arrows.png) 10px 0 no-repeat;
  }
  
  .desktop-site {
    position: absolute;
    right: 0;
    text-align: right;
  }
  
  .guardian {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    display: inline-block;
    color: $lightText;
    
    a {
      display: block;
      padding: 0;
      margin-top: 3px;
      padding-bottom: $vPadding;
      height: 21px;
      width: 120px;
      background: transparent url(#{$baseImagePath}guardian-logo.png) 0 0 no-repeat;
    }
  }
  
  .sites {
    padding: 0 0 $vPadding $padding;
  }
}

@media only screen and (min-width: 320px) {
  #container header h2 {
    @include font(20);
  }
  
  #container header .button {
    @include font(14);
  }
}