@import "variables";
@import "mixins";

.sold-out {
  @include font(12);
  display: inline-block;
  position: relative;
  font-weight: bold;
  background: #fff;
  border: 1px solid $divider;
  line-height: 1;
  padding: .25em .35em;
  margin-right: 2px;
  text-transform: uppercase;
}

ul.events {  
  time {
    position: absolute;
    top: $padding+1px;
    left: $padding;
  }
  
  time, h5, .subtitle {
    line-height: 20px;
    line-height: 2rem;
  }
  
  time, .subtitle {
    color: $lightText;
    @include font(11);
  }
  
  h5, .subtitle {
    margin-left: $padding + 26px;
  }
  
  h5 {
    font-weight: normal;
    color: #000;
  }
  
  .sold-out {
    @include font(9);
  }
}

ul.on-now {
  margin-bottom: $padding;
}