@mixin font($pixels) {
  font-size: #{$pixels}px;
  font-size: #{$pixels/10}rem;
}

@mixin borderRadius($radius) {
     -moz-border-radius: $radius; 
  -webkit-border-radius: $radius;
          border-radius: $radius;       
     -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
          background-clip: padding-box;
}

@mixin boxShadow($x, $y, $spread, $color) {
     -moz-box-shadow: $x $y $spread $color;
  -webkit-box-shadow: $x $y $spread $color; /* Saf3.0+, Chrome */
          box-shadow: $x $y $spread $color;
}

@mixin boxShadowInset($x, $y, $spread, $color) {
     -moz-box-shadow: inset $x $y $spread $color;
  -webkit-box-shadow: inset $x $y $spread $color; /* Saf3.0+, Chrome */
          box-shadow: inset $x $y $spread $color;
}

@mixin boxShadowReset() {
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

@mixin simpleGradient($fallback, $top, $bottom) {
  background-color: $fallback;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom)); 
  background-image: -webkit-linear-gradient(top, $top, $bottom);
  background-image:    -moz-linear-gradient(top, $top, $bottom);
  background-image:     -ms-linear-gradient(top, $top, $bottom);
  background-image:      -o-linear-gradient(top, $top, $bottom);
  background-image:         linear-gradient(top, $top, $bottom);
}

@mixin verticalGradient($fallback, $colorStop1, $colorStopPosition1, $colorStop2, $colorStopPosition2) {
  background-color: $fallback;
  background-image: -moz-linear-gradient(top, $colorStop1 $colorStopPosition1, $colorStop2 $colorStopPosition2); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop($colorStopPosition1,$colorStop1), color-stop($colorStopPosition2,$colorStop2)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, $colorStop1 $colorStopPosition1, $colorStop2 $colorStopPosition2); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, $colorStop1 $colorStopPosition1, $colorStop2 $colorStopPosition2); /* Opera11.10+ */
  background-image: -ms-linear-gradient(top, $colorStop1 $colorStopPosition1, $colorStop2 $colorStopPosition2); /* IE10+ */
  background-image: linear-gradient(top, $colorStop1 $colorStopPosition1, $colorStop2 $colorStopPosition2); /* W3C */
}

@mixin rotate($deg) {
  -webkit-transform: rotate(#{$deg}deg);	
  -moz-transform: rotate(#{$deg}deg);
  -ms-transform: rotate(#{$deg}deg);
  -o-transform: rotate(#{$deg}deg);
  transform: rotate(#{$deg}deg);
}

