h3 {
  @include font(16);
  color: #fff;
  background: rgba(0,0,0,.85);
  font-weight: normal;
  padding: $vPadding $padding;
  @include boxShadow(0, 0, 8px, rgba(0,0,0,.6));
}

h4 {
  @include font(14);
  font-weight: bold;
  padding: $vPadding $padding;
}