// Dimensions
$padding: 10px;
$footerHeight: 40px;
$headerHeight: 46px;

// Colours
$lightText: #777;
$veryLightText: #aaa;

$baseColor: #444;
$baseColorEvents: #c51f37;
$baseColorAuthors: #00a650;
$baseColorBooks: #016096;

$lightEvents: lighten($baseColorEvents, 45%);